@import "globals";
@import "normalize";
@import "login";

:root {
  background-color: $back;
}

nav {
  background-color: $back2;
}

* {
  color: $fore;
  font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
}

body * {
  overflow: hidden;
}

::selection {
  background-color: $accent;
}
